@font-face {
  font-family: "Pokemon";
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon")
      format("svg");
}

body {
  font-family: "Pokemon";
  min-height: 854px;
  background-image: url("https://wallpapercave.com/wp/wp8155232.jpg");
  backdrop-filter: blur(5px);
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding-bottom: 20vh;
  overflow-x: hidden;
}

.page-title {
  font-size: 50px;
  color: #ffcc03;
  margin: 5px 0;
  text-shadow: 3px 3px 2px #2c458c, -3px -3px 2px #2c458c, 4px 4px 3px #2c458c,
    -4px -4px 3px #2c458c;
  animation: animaTitle 1.5s ease 1s normal forwards;
  opacity: 0;
  transform: translateX(-200px);
}

.page-title + h2 {
  font-size: 40px;
  color: #ffcc03;
  margin: 5px 0;
  text-shadow: 3px 3px 2px #2c458c, -3px -3px 2px #2c458c, 4px 4px 3px #2c458c,
    -4px -4px 3px #2c458c;
  animation: animaTitle 1.5s ease 2.5s normal forwards;
  opacity: 0;
  transform: translateX(-200px);
}

#btnSortear{
  animation: animaTitle 1.5s ease 3.5s normal forwards;
  opacity: 0;
  transform: translateX(-200px);
}

@keyframes animaTitle {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.container {
  text-align: center;
  padding: 20px;
}

button {
  font-family: 'Pokemon';
  padding: 0.8rem 1.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.25s;
  background-color: #fff;
  box-shadow: 0 0 5px #000;
  text-shadow: 0 0 2px #fff;
  font-weight: bold;
}

button:hover {
  transform: scale(0.95);
  background-color: #e3e3e3;
}

button:disabled {
  cursor: not-allowed;
}

h2 {
  color: white;
  font-size: 25px;
}

#life-jogador, #life-maquina{
  color: #fff;
  font-size: 20px;
}

#div-resultado{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.resultado-final,  #resultado-partida {
  animation: anima 1.4s linear infinite alternate-reverse;
  color: #ffcc03;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 3px 3px 2px #2c458c, -3px -3px 2px #2c458c, 4px 4px 3px #2c458c,
  -4px -4px 3px #2c458c;;
  width: auto;
  padding: 1rem;
}

#carta-jogador,
#carta-maquina {
  width: 360px;
  height: 500px;
  overflow: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  position: relative;
  background-size: 350px 300px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 10px;
  border-radius: 33px;
}

#carta-jogador h3 {
  text-align: center;
}

.carta-imagem {
  border: 1px solid black;
  height: 100px;
  margin: 10px;
}

.carta-imagem img {
  width: 100%;
  height: 100%;
}

.carta-status {
  height: 160px;
  margin: 2rem;
  color: white;
  z-index: 2;
}

.carta-status input {
  margin: 20px 10px;
}

@keyframes anima {
  to {
    transform: scale(1.2);
  }
}

.--spacing {
  margin-left: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.carta-subtitle {
  z-index: 2;
  position: absolute;
  top: 16px;
  left: 37px;
  font-weight: 800;
  text-transform: uppercase;
}

#cartas {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carta-status p {
  margin-bottom: 1rem;
}
